html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  font-family: "Open Sans Variable", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
